<div class="row" >
  <div class="col-md-1">
    <button class="btn btn-secondary" (click)="onAddLanguageClick()">Thêm</button>
  </div>
  <div class="col-md-1">
    <button class="btn btn-success" (click)="onSave()">Lưu</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-danger" (click)="onClear()" >Xoá tất cả</button>
  </div>
  <div class="col-md-3" style="margin-top: 7px;">
      <span style="font-weight: bold;">Ngày tạo:</span> {{ getDate() | date: 'dd/MM/yyyy' }}
  </div>
  <div class="col-md-4" style="margin-top: 7px;">
      <span style="font-weight: bold;">Người tạo:</span> {{ user.userName }}
  </div>
</div>
<br />

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 7%;">Culture</th>
          <th scope="col" style="width: 25%;">Name</th>
          <th scope="col" style="width: 13%;">AppID</th>
          <th scope="col" style="width: 55%;">Value</th>
      </thead>
      <tbody (paste)="onPasteContent($event)" #tbody>
        <tr
          *ngFor="let language of languages; index as i"
          #tr (change)="checkIsConcidentClient(tr, i)"
        >
          <td class="align-middle" >
            <select
              type="text"
              class="form-control"
              #culture
              (change)="onInputChange(culture, i, 'culture')"
            >
              <option [selected]="language.languageTypeId==culture.languageTypeId?true:null" *ngFor="let culture of languageService.listCulture" [value]="culture.languageTypeId">{{ culture.codeName }}</option>
            </select>
          </td>
          <td class="align-middle">
            <input
              type="text"
              class="form-control"
              [value]="language.name"
              #name
              (input)="onInputChange(name, i, 'name')"
              (click)="onClick(name, i, 'name')"
            />
          </td>
          <td class="align-middle">
            <select
              type="text"
              class="form-control"
              #appID
              (change)="onInputChange(appID, i, 'appID')"
            >
            <option *ngFor="let appName of languageService.listAppType" [value]="appName.appID">{{ appName.appName }}</option>
            </select>
          </td>
          <td class="align-middle">
            <input
              type="text"
              class="form-control"
              [value]="language.value"
              #value
              (input)="onInputChange(value, i, 'value')"
              (click)="onClick(value, i, 'value')"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>